.Rproj.user
.Rhistory
.RData
.Ruserdata
/Programacion/Programacion_II/Pruebas/
/Ingles I

/Programacion/Programacion_II/Trabajo_Practico_V/nbproject/private/
/Programacion/Programacion_II/Trabajo_Practico_V/build/
/Programacion/Programacion_II/Trabajo_Practico_VI/nbproject/private/
/Programacion/Programacion_II/Trabajo_Practico_VI/build/
/Programacion/Programacion_II/Trabajo_Practico_VII/nbproject/private/
/Programacion/Programacion_II/Trabajo_Practico_VIII/nbproject/private/
/Programacion/Programacion_II/Trabajo_Practico_VIII/build/
/Programacion/Programacion_II/Trabajo_Practico_VIII/dist/
/Programacion/Programacion_II/Trabajo_Practico_TEST/build/
/Programacion/Programacion_II/Trabajo_Practico_TEST/dist/
/Programacion/Programacion_II/Trabajo_Practico_TEST/nbproject/private/
