.Rproj.user
.Rhistory
.RData
.Ruserdata
/Programacion/Programacion_II/Trabajo_Practico_III/nbproject/private/
/Programacion/Programacion_II/Trabajo_Practico_III/build/
/Programacion/Programacion_II/Trabajo_Practico_IV/nbproject/private/
/Programacion/Programacion_II/Trabajo_Practico_IV/build/
/Programacion/Programacion_II/Tests/nbproject/private/
/Programacion/Programacion_II/Tests/build/
/Programacion/Programacion_II/composicion_1a1/nbproject/private/
/Programacion/Programacion_II/Pruebas/Tests/build/
/Programacion/Programacion_II/Pruebas/Tests/nbproject/private/
/Programacion/Programacion_II/Pruebas/composicion_1a1/nbproject/private/
/Programacion/Programacion_II/Pruebas/composicion_1a1/build/
/Programacion/Programacion_II/Pruebas/asociacion_1a1/nbproject/private/
/Programacion/Programacion_II/Pruebas/
